# --- SEGREDOS DO BANCO DE DADOS ---
POSTGRES_USER=usuario_exemplo
POSTGRES_PASSWORD=trocar_esta_senha
POSTGRES_DB=imobiliaria_db

# --- CONFIGURAÇÕES DE REDE ---
PORT_NOCODB=8081
PORT_METABASE=3020
PORT_N8N=5679
PORT_PYTHON=8001

# --- CONFIGURAÇÕES GERAIS ---
TZ=America/Sao_Paulo
